{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="user__block">
            {% if app.user.id == user.id %}
                <h2>Моя страница</h2>
                {% if user.userInfo %}
                    Имя: {{ user.userInfo.getFirstname }}<br/>
                    Фамилия: {{ user.userInfo.getLastname }}<br/><br/>
                    <img style=" border-radius: 8px;width: 150px;border: 1px solid #ddd;" onclick="changeSize(this)" src={{ '/getFile/photos/' ~ user.userInfo.photoFilename }}><br/>
                    <span style="font-size: 10px">нажмите для увеличения/уменьшения...</span><br/>
                    <a href="{{ '/downloadFile/photos/' ~ user.userInfo.photoFilename }}">Скачать</a>
                    <form action="{{ '/delete/photos/' ~ user.userInfo.photoFilename }}" method="post">
                        <input type="submit" value="Удалить">
                    </form>
                    <br/>
                    <br/>
                {% endif %}

                <a href="/friends/{{ app.user.id }}">Мои друзья</a><br/>
                <a href="/friendsWithMe/{{ app.user.id }}">Я в друзьях</a><br/>
                <a href="{{ path('settings') }}">Настройки</a>
            {% else %}
                <h2>Страница {{ user.username }}</h2>
                {% if user.userInfo %}
                    Имя: {{ user.userInfo.getFirstname }}<br/>
                    Фамилия: {{ user.userInfo.getLastname }}<br/><br/>
                    <img style=" border-radius: 8px;width: 150px;border: 1px solid #ddd;" src={{ '/getFile/photos/' ~ user.userInfo.photoFilename }}><br/>
                {% endif %}
                <button onclick="addFriend()">Подписаться</button>
                <button onclick="dropFriend()">Отписаться</button>
                Друзья <a href="/friends/{{ user.id }}"><i>{{ user.username }}</i></a>
                <br/>
            {% endif %}

            <div class="mb-3">
                <a href="{{ path('users') }}">Все пользователи</a><br/>
            </div>
        </div>
        {% include 'wall_message_block.twig' %}

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let increased = false;
        function addFriend(){
            $.ajax({
                url: '/addFriend/{{ user.id }}',
                method: 'POST',
            })
        }
        function dropFriend(){
            $.ajax({
                url: '/dropFriend/{{ user.id }}',
                method: 'POST',
            })
        }

        function editMessage(id) {
            document.getElementById("message_input" + id).style.display = 'block';
            document.getElementById("message_text_" + id).style.display = 'none';
            document.getElementById("edit_" + id).style.display = 'none';
            document.getElementById("update_" + id).style.display = 'block';
            text = document.getElementById("message_text_" + id).textContent;
            document.getElementById("message_input" + id).children[0].value = $.trim(text);
        }

        function updateMessage(id){
            $.ajax({
                url: '/message/update/' + id,
                method: 'POST',
                data: {
                    'text': document.getElementById("message_inp_" + id).value,
                },
                success: function (data) {
                    window.location.reload();
                }
            })
        }

        function deleteMessage(id) {
            $.ajax({
                url: '/message/delete/' + id,
                method: 'POST',
                success: function (data) {
                    window.location.reload();
                }
            })
        }

        function changeSize(image)
        {
            if (increased) {
                image.style.width = '150px';
            } else {
                image.style.width = '350px';
            }

            increased = !increased;
        }
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    {% include 'css/profile.css' %}
</style>
{% endblock %}
