{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% if app.user.id == user.id %}
            {{ title }}
        {% else %}
             {{ title }} {{ user.username }}
            <br/>
        {% endif %}
    </h1>
    {% if friends|length > 0 %}
        {% for friend in friends %}
            {{ loop.index }}.
            <a href="/profile/{{ friend.getId }}">{{ friend.getUsername }}</a>
            <br/>
        {% endfor %}
    {% else %}
        Список пуст.
    {% endif %}
{% endblock %}